@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat+Alternates|Taviraj&display=swap');

.App {
  text-align: center;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #886965;
  font-family: 'Taviraj', serif;
  height: 60px;
  box-shadow: 0 0 2px black;
}

hgroup {
  display: flex;
  align-items: center;
  font-weight: 1000;
  font-size: 2.2rem;
  margin-left: 20px;
  color: rgb(255, 217, 198);
}

#home {
  text-decoration: none;
}

#logo {
  width: 50px;
  margin-right: 8px;
}

h1 {
  text-shadow: 0 0 2px black;
}

nav {
  padding-right: 10px;
}

.nav-link {
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(255, 217, 198);
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  height: 300px;
  background: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1082&q=80");
  color: white;
}

.welcome-description {
  text-align: left;
  width: 300px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.2);
  font-family: 'Fira Sans', sans-serif;
}

.welcome-description > h2 {
  font-size: 2rem;
  color: white;
  border-bottom: 2px solid white;
}

.welcome-description > p {
  font-size: 1rem;;
  margin-top: 10px;
}

#get-started {
  background-color: rgba(0, 105, 105, 0.527);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 100px;
  transition: all 0.4s;
}

#get-started:hover {
  transform: scale(1.1);
}

main {
  background-color: #5E4E57;
  padding: 20px 50px;
}

.search-container {
  padding: 20px 50px;
  background-color: #D6AB95;
}

.search-bar {
  border: solid 1px;
  padding: 20px;
  text-align: left;
}

.search-form {
  margin-top: 5px;
}

.search-results {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px;
}

#query {
  width: 500px;
  margin-right: 5px;
}

#search-submit {
  margin-left: 5px;
}

.book-display {
  padding: 15px;
  transition: all 0.5s;
  animation: fade-in 1s;
}

.book-display > img {
  height: 150px;
}

.book-display:hover {
  transform: scale(1.05);
}

.book-display > h4 {
  font-weight: bold;
}

#no-results {
  grid-column: 2 / 4;
  margin: 100px;
}

@keyframes fade-in {
  0% {opacity: 0};
  100% {opacity: 1};
}