@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat+Alternates|Taviraj&display=swap');

.App {
  text-align: center;
}

header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #886965;
  font-family: 'Taviraj', serif;
  height: 60px;
  box-shadow: 0 0 2px black;
}

hgroup {
  display: flex;
  align-items: center;
  font-weight: 1000;
  font-size: 2.2rem;
  margin-left: 20px;
  color: rgb(255, 217, 198);
}

#home {
  text-decoration: none;
}

#logo {
  width: 50px;
  margin-right: 8px;
}

h1 {
  text-shadow: 0 0 2px black;
}

nav {
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.nav-link {
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(255, 217, 198);
  cursor: pointer;
}

.user-link {
  border-left: solid 1px rgb(255, 217, 198);
  margin-left: 5px;
  padding-left: 15px;
}

.logout {
  cursor: pointer;
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  height: 300px;
  background: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1082&q=80") 10% 15%;
  color: white;
}

.welcome-description {
  text-align: left;
  width: 300px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.2);
  font-family: 'Fira Sans', sans-serif;
}

.welcome-description > h2 {
  font-size: 2rem;
  color: white;
  border-bottom: 2px solid white;
}

.welcome-description > p {
  font-size: 1rem;;
  margin-top: 10px;
}

#get-started {
  background-color: rgba(0, 105, 105, 0.452);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-right: 100px;
  transition: all 0.3s;
}

#get-started:hover {
  transform: scale(1.1);
}

main {
  background-color: #5E4E57;
  padding: 20px 50px;
  min-height: calc(100vh - 300px);
}

.search-container {
  padding: 20px 50px;
  background-color: #D6AB95;
}

.search-bar {
  border: solid 1px;
  padding: 20px;
  text-align: left;
}

.search-form {
  margin-top: 5px;
}

.search-results {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px;
}

#query {
  width: 500px;
  margin-right: 5px;
}

#search-submit {
  margin-left: 5px;
}

.book-display {
  padding: 15px;
  transition: all 0.5s;
  animation: fade-in 1s;
}

.book-display > img {
  height: 150px;
  margin-bottom: 5px;
}

.book-display:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.book-display > h4 {
  font-weight: bold;
}

#no-results {
  grid-column: 2 / 4;
  margin: 100px;
}

.book-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.507);
}

.book-details {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #35384E;
  border: double 5px black;
  width: 700px;
  height: 400px;
  color: rgb(255, 234, 224);
}

.book-image-and-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

.book-image-and-links > img {
  width: 180px;
  max-height: 300px;
}

.select-collection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.select-collection > * {
  margin: 0px 5px;
}

.link {
  color: rgb(128, 194, 216);
}

.book-information {
  text-align: left;
  margin: 20px 10px 20px 10px;
  overflow: auto;
}

.book-information > h3 {
  font-weight: bold;
  font-size: 30px;
}

.small-print {
  font-size: 14px;
}

#delete-book {
  position: relative;
  left: 320px;
  bottom: 25px;
  border: none;
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  margin-right: 100px;
  cursor: pointer;
}

#close-details {
  position: relative;
  left: 380px;
  border: none;
  background: transparent;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  margin-right: 100px;
  cursor: pointer;
}

#close-details:hover {
  transform: scale(1.05);
}


#delete-book:hover {
  transform: scale(1.05);
}

.about-header, .contact-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  height: 300px;
  background: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  opacity: 0.8;
  color: white;
}

.about-header > h2, .contact-header > h2 {
  font-size: 3rem;
  font-weight: 500;
  width: max-content;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 1;
}

.about, .contact {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background-color: #D6AB95;
  height: 80%;
}

.about > p, .contact > p {
  font-weight: 600;
  margin: 30px 20px;
  padding: 80px 0px;
  width: 70%;
  border-top: solid 1px;
  border-bottom: solid 1px;
  line-height: 1.6;
}

.sign-in-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: fixed; */
  width: 100vw;
  height: calc(100vh - 60px);
  top: 0;
  left: 0;
  z-index: 1;
  background: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
  background-size: cover;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  padding: 20px 40px;
  width: 380px;
  height: 300px;
  background-color: rgba(122, 102, 114, 0.925);
  color: rgb(255, 234, 224);
  border: double 5px black;
}

.sign-in > h3 {
  font-size: 2rem;
  font-weight: 600;
}

.sign-in-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;
  border: 1px solid;
}

.sign-in-form > * {
  margin: 5px;
  width: 240px;
}

#form-names {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 247px;
}

#form-names > input {
  width: 113px;
}

.sign-in-form > #submit {
  width: 60px;
}

.user-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80");
  background-size: cover;
  min-height: calc(100vh - 60px);
  opacity: 0.9;
}

.user-page-wrapper > h3 {
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #D6AB95;
  position: relative;
  right: 200px;
  border: solid 2px black;
  color: black;
  z-index: 1;
}

.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 700px;
  background-color: #35384E;
  border: double 1px black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
  position: relative;
  bottom: 25px;
}

.collections-display {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  bottom: 10px;
}

.collections-list {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-self: flex-end;
}

.collection-header {
  background-color: #D6AB95;
  padding: 10px 20px;
  border: solid 1px black;
  cursor: pointer;
  width: 100px;
  position: relative;
}

.collection-header:hover {
  font-weight: 600
}

.collection-header.active {
  font-weight: 600;
  border-bottom: none;
  z-index: 1;
}

.collection-books {
  display: flex;
  flex-flow: row nowrap;
  grid-template-rows: 1fr;
  background-color: #D6AB95;
  height: 300px;
  width: 550px;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  overflow-x: auto;
  overflow-y: hidden;
}

.collection-books > .book-display {
  padding: 0px;
  margin: 50px 15px 0px 15px;
  min-width: 160px;
  max-width: 200px;
}

@keyframes fade-in {
  0% {opacity: 0};
  100% {opacity: 1};
}

@keyframes zoom-in {
  0% {transform: scale(0)}
  100% {transform: scale(1)}
}